<h1>Edit <%= @task.description %></h1>
<hr>
<%= render 'form' %>
<p><%= link_to 'Delete this task',
                @task,
                :method => :delete,
                :data => { :confirm => 'Are you sure?' }, :class => 'btn btn-primary' %></p>
                